@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

html{
    overflow: hidden;
    background: rgb(199,24,24);
    background: radial-gradient(circle, rgba(199,24,24,1) 0%, rgba(121,9,9,1) 50%, rgba(24,0,0,1) 100%);
}

body{
    background-color: brown;
    width: 100vw;
    font-family: 'Oswald';
    font-size: 30px;
    text-align: center;
}
.Image{
    width: 75%;
}
.RadioPlayer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
}
.RadioClass {
    color: black;
    height: 50px;
    width: 300px;
    /* margin-left: calc(50vw - 150px); */
    margin-right: auto;
}